  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: var(--gap);
  }

  .content p{
    padding-top: 5rem;
    font-size: 2rem;
    max-width: 90rem;
    text-align: justify;
  }

  .content p.space-about-small{
    padding-top: 2rem;
  }

  .svg-redirect {
    width: 7rem;
  }

  .redirect-pages-content a:hover .gear-habilites {
    animation: rotating 3s linear infinite;
  }

  .redirect-pages-content a {
    color: #2f3133;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .redirect-pages-content a:hover {
    color: #48cae4;
    font-weight: bold;
    transition: all 300ms ease-in-out;
  }

  .redirect-pages-content a:hover .svg-redirect svg {
    fill: #48cae4;
    transition: all 300ms ease-in-out;
  }

  .redirect-pages {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--gap);
  }

  .redirect-pages-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .space-description-redirect {
    padding-left: 1rem;
  }

  .space-description-redirect span{
    font-weight: bold;
  }

  .cv {
    padding: 4rem 0;
    display: flex;
    justify-content: start;
  }

  .cv a {
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 3rem;
    background-image: linear-gradient(to right, #73def3, #48cae4, #22bbda);
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .cv a:hover {
    background-image: linear-gradient(to right, #ff708a, #ff8fa3, rgb(255, 170, 186));
    transition: all 300ms ease-in-out;
  }

  .about-picture {
    max-width: 70rem;
  }

  .about-picture img {
    width: 100%;
  }

  @media (max-width: 1134px) {
    .about-content {
        flex-direction: column;
      }

      .about-picture {
       max-width: 30rem;
      }
  }

  @media (max-width:500px) {
    .redirect-pages {
      display: block;
    }

    .redirect-pages-content {
      padding: 1rem;
    }
  }