  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: var(--gap);
  }

  .content p{
    padding-top: 5rem;
    font-size: 2rem;
    max-width: 90rem;
    text-align: justify;
  }

  .content p.space-about-small{
    padding-top: 2rem;
  }

  .redirect-pages {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: var(--gap);
  }

  .redirect-pages-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .space-description-redirect {
    padding-left: 1rem;
  }

  .space-description-redirect span{
    font-weight: bold;
  }

  .about-picture {
    max-width: 50rem;
  }

  .about-picture img {
    width: 100%;
  }

  .redirect-pages h5 {
    padding-top: 1.8rem;
    font-size: 2rem;
  }

  @media (max-width: 1134px) {
    .about-content {
        flex-direction: column;
      }

      .about-picture {
       max-width: 30rem;
      }
  }

  @media (max-width:500px) {
    .redirect-pages {
      display: block;
    }

    .redirect-pages-content {
      padding: 1rem;
    }
  }