
 .card-container {
    max-width: 95rem;
    text-align: center;
    position: relative;
    gap: var(--gap);
    z-index: 1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
    position: relative;
    width:12rem;
    height: 9rem;
    background-image: linear-gradient(to right, #73def3, #48cae4, #22bbda);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, .5);
    overflow: hidden;
  }

  .card h4 {
    font-size: 1.3rem;
  }

  .card:hover {
    background-image: linear-gradient(to right, #ff708a, #ff8fa3, rgb(255, 170, 186));
    cursor: pointer;
  }