
 .card-container {
    max-width: 95rem;
    text-align: center;
    position: relative;
    gap: var(--gap);
    z-index: 1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .card {
    position: relative;
    width: 20rem;
    height: 15rem;
    background-image: linear-gradient(to right, #73def3, #48cae4, #22bbda);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 2rem;
    box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, .5);
    overflow: hidden;
  }

  .react {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    color: #fff;
    position: absolute;
    opacity: 20%;
  }

  .card:hover {
    background-image: linear-gradient(to right, #ff708a, #ff8fa3, rgb(255, 170, 186));
  }

  .gear-child-skills {
    position: absolute;
    bottom: -6rem;
    left: -8rem;
    width: 30rem;
    animation: rotating 5s linear infinite;
  }
  
  .gear-child-skills svg{
    opacity: 50%;
  }

  
  /* .effect {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    color: #fff;
    position: absolute;
    transform: translateY(10rem);
    transition: .5s;
    opacity: 0;
  } 

   .card:hover .effect{
    transform: translateY(0);
    opacity: 1;
  } */
