/* GLOBAL */
:root {
    --white-color: #ebebeb;
    --gap: 3rem;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
  }
  
  a {
    text-decoration: none;
  }
  
  .section-page {
    min-height: 100vh;
    margin: 0 auto;
    padding: 10rem;
    color: #2f3133;
    display: flex;
    align-items: center;
  }
  
  /* MENU */
  .menu {
    position: fixed;
    z-index: 2;
    height: 7%;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #fff;
  }
  
  .menu-content {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 5rem;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
  }
  
  .menu a {
    color: #2f3133;
    display: block;
    padding: 2rem;
    position: relative;
  }
  
  .blink-arrow:hover svg {
    width: 2rem;
    height: 2rem;
  }
  .blink-arrow:hover svg path {
  fill: #ff8fa3;
  }
  
  .menu svg {
    position: absolute;
    animation: efeitoPiscar 1s infinite;
    top: 0;
    width: 0;
    height: 0;
  }
  
  li.active svg {
    width: 2rem;
    height: 2rem;
  }
  
  .menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  .logo a {
    color: #47bbea;
    font-weight: bold;
  }
  
  
  /* 01 - HOME */
  
  .picture-me-home img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 88rem;
    opacity: 25%;
  }
  
  .intro-content {
    font-size: 2rem;
  }
  
  .intro-content h1 {
    font-size: 12rem;
    padding: 1rem 0;
  }
  
  .intro-content h1::after{
      content: '|';
      margin-left: .5rem;
      opacity: 1;
      animation: efeitoPiscar 1s infinite;
  }
  
  @keyframes efeitoPiscar {
      0%, 100% {
          opacity: 1;
      }    
      50% {
          opacity: 0;
      }
  }
  
  .sub-title {
    display: flex;
    align-items: center;
  }
  
  hr {
    color: #2f3133;
    width: 5rem;
    height: .3rem;
    background-color: #2f3133;
  }
  
  .sub-title p {
    padding-left: 1rem;
  }
  
  .redirect-contact {
    padding: 3rem 0 8rem 0 ;
  }
  
  .redirect-contact a:hover svg{
  fill: #48cae4;
  transition: all 300ms ease-in-out;
  }
  
  .gear {
    position: absolute;
    bottom: -6rem;
    left: -8rem;
    width: 30rem;
    animation: rotating 5s linear infinite;
  }
  
  .gear-child {
    position: absolute;
    bottom: 10rem;
    left: 20rem;
    width: 20rem;
  }
  
  .gear-child svg{
    opacity: 50%;
  }
  
  .gear-little {
    width: 10rem;
    bottom: -1rem;
    left: 22rem;
  }
  
  .gear-little svg{
    opacity: 50%;
  }
  
  .gear:hover {
    animation: rotating 1s infinite;
  }
  
  
  @keyframes rotating {
    to {
      transform: rotate(1turn);
    }
  }
  
  
  /* 02 - ABOUT */
  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: var(--gap);
  }

  h2 {
    padding-left: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
  }

  h3 {
    font-size: 4rem;
    margin-top: -1rem;
  }

  .text-content p{
    padding-top: 5rem;
    font-size: 2rem;
    max-width: 100rem;
    text-align: justify;
  }

  .text-content p.space-about-small{
    padding-top: 2rem;
  }

  .svg-redirect {
    width: 7rem;
  }

  .redirect-pages-content a:hover .gear-habilites {
    animation: rotating 3s linear infinite;
  }


  .redirect-pages-content a {
    color: #2f3133;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .redirect-pages-content a:hover {
    color: #48cae4;
    font-weight: bold;
    transition: all 300ms ease-in-out;
  }

  .redirect-pages-content a:hover .svg-redirect svg {
    fill: #48cae4;
    transition: all 300ms ease-in-out;
  }

  .redirect-pages {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--gap);
  }

  .redirect-pages-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .space-description-redirect {
    padding-left: 1rem;
  }

  .space-description-redirect span{
    font-weight: bold;
  }

  .cv {
    padding: 4rem 0;
  }
  .cv a {
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 3rem;
    background-image: linear-gradient(to right, #73def3, #48cae4, #22bbda);
    cursor: pointer;
  }

  .cv a:hover {
    background-image: linear-gradient(to right, rgb(255, 170, 186), #ff8fa3, #ff708a);
    transition: all 300ms ease-in-out;
  }

  .about-picture {
    max-width: 70rem;
  }

  .about-picture img {
    width: 100%;
  }

  /* 03 - SKILLS */
  
  .section-start {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  }

  .card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  gap: var(--gap);
  text-align: center;
  position: relative;
  z-index: 1;
  }

  
  .effect {
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    color: #e5e5e5;
    position: absolute;
    transform: translateY(5rem);
    transition: .5s;
    opacity: 0;
  }

  .react {
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    color: #e5e5e5;
    position: absolute;
    opacity: 20%;
  }

  .card {
    position: relative;
    width: 40rem;
    height: 20rem;
    background-color: #2f3133;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 2rem;
    box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, .5);
    overflow: hidden;
  }

  .card:hover .effect {
    transform: translateY(0);
    opacity: 1;
  }
  
  /* 04 - PROJECTS */
  
  
  
  footer {
    text-align: center;
    font-size: 1.6rem;
    background-color: black;
  
    color: #e5e5e5;
    padding: 5rem;
  }
  