:root{
    --white-color: #ebebeb;
    --aqua-color: hsla(190, 82%, 68%, 0.8);
    --gap: 3rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family:'Montserrat', sans-serif;
    font-size: 2rem;
}

a{
    text-decoration: none;
}

.section-page{
    min-height: 100vh;
}

/* Estilizando o menu */

.logo-intro{
    margin-top: 1.5rem ;
    width: 20rem;
    height: 10rem;
}

.menu{
    position: fixed;
    z-index: 1;
    height: 11%;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid var(--white-color);
}

.main-content{
    height: 100%;
    max-width: 120rem;
    margin: 0 auto; 
    padding: var(--gap);  
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    color: black;
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    position: relative;
    
}

/* Adicionando um efeito de underline no menu */

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--aqua-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

button{
    padding: 2rem 4rem;
    background-color: black;
    border: 0;
    border-radius: 5%;
    font-size: 1.8rem;
    color: var(--white-color);
    
}

button:hover{
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 300ms ease-in-out;
    color: var(--aqua-color);
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem var(--aqua-color);
}

/* Trabalhando com a descrição da página 01 */

.intro-content{
    transition: all 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.picture{
    margin: 0 auto;
}
.picture img{
    margin-top: 20rem;
    border-radius: 50%;
    max-width: 60rem;
    height: auto;
}

.contact-icon{
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    left: 0;
    bottom: 0;
}

.contact-icon img{
    height: 10rem;
    padding: 1rem;
}

.home-content span{
    font-weight: bold;
    font-size: 10rem;
    letter-spacing: 2rem;
    line-height: 7rem;
}



/* Estilizando a página 02 */


.abaout{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap);
    min-height: 100vh;
    position: relative;
    top: 4.1rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.text-content{
    margin-bottom: 4rem;
}
.text-content, .picture-aling{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
}

.picture-aling img{
    width: 90rem;
    height: 59rem;
    transition: 0.5s;
    filter: brightness(86%);
    border-left: 0.9rem solid var(--aqua-color);

    
}

.picture-aling img:hover{
transition: all 500ms ease-in;
filter: none;
border-left: 0.9rem solid #613dc1;
}


.text-content h2{
    font-size: 8rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.text-content p{
    margin-bottom: 1rem;
}

/* Sumindo com a caixa do checkbox do menu mobile */
.close-menu{
    display: none;
   }

/* Estilizando a página 03 */

.bg-black{
    background-size: cover;
    background-position: center center;
    background-color: black;
}

.skills-text-content, .img-skill{
    color: #ebebeb;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.skills-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap);
    min-height: 100vh;
    position: relative;
    top: 10rem;
}

.skills-text-content h2{
    margin-bottom: 5rem;
    font-size: 4rem;
    color: aqua;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1rem;
}

.skills-text-content p{
    margin-bottom: 3rem;
    line-height: 1.1;
}

.img-skill img{
    height: 15rem;
    align-self: center;
}

.img-skill{
    flex-direction: row;
}

.img-skills-up{
    grid-column: span 2;
}

.img-skills-up img{
    height: 10rem;
    padding-bottom: 1rem;
    filter: brightness(7%);    
}

.aling-skill-img img{
    align-items: center;
    margin-top: -16rem;
}


/* Mobile */

@media (max-width:800px){
    .contact-icon{
        position: relative;
        flex-direction: row;
        top: 4rem;
    }

    .abaout{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 2rem;
        margin-right: 2rem;
}

.picture-aling img{
    height: auto;
    width: 100vw;
}

.picture img{
    width: 30rem;
}

.home-content span{
    font-size: 3rem;
}

.text-content h2{
    font-size: 3rem;
}

/* Menu mobile, pode ser feito com js tbm. para esse menu, iremos inserir um input do type checkbox no html */
    .menu{
        bottom: 0;
        text-align: center;
    }
    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }

    .menu-content{
        height: 100vh;
    }

    /* Para o menu não ficar aparecendo */
    .menu{
        display: none;
        height: 100vh;
    }

    .close-menu{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .close-menu-label::after{
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: black;
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 4px;
    }

    /* Lógica para quando o checkbox estiver marcado o menu aparecer e desmarcado escondido: */

    .close-menu:checked~.menu{
        display: block;
    }

    /* Mudando o símbolo do menu */
    .close-menu:checked~.close-menu-label::after{
        content: '×';
    }
}
